.button {
    background-color: blue;
    width: 200px;
    height: 200px;
    line-height: 200px;
    color: black;
    border-radius: 100%;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    animation-name: bubble;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 3;
}

@keyframes bubble {
    0% {
        background-color: blue;
        width: 200px;
        height: 200px;
        line-height: 200px;
        color: white;
    }
    50% {
        background-color: red;
        width: 300px;
        height: 300px;
        line-height: 300px;
        color: green;
    }
    100% {
        background-color: black;
        width: 300px;
        height: 300px;
        line-height: 300px;
        color: white;
    }